.cards {
    position: relative;
    left: 10%;
    top: 20%;
    padding: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    // z-index: 1;
    transform-style: preserve-3d;
    animation:fadeIn 3s forwards;
}

.card {
    margin: 10px;
}